
/* Selecciona todos los elementos. El selector universal CSS (*) coincide con elementos de cualquier tipo*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/* el borde de cada uno de los item sera el limite del espacio*/
}

/* Selecciona el elemento raíz del documento: <html> en el caso de HTML 
html{
    font-size: 60%;
}*/

.caja h1{
    /*width: 940px;*/
    position: relative;
    margin: 20px auto;
    font-size: 30px;
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
    /*margin-bottom: 20px;*/
    text-align: center;

}

body{
    font-size: 17px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #262835;
}

main{
    width: 95%;
    height: 90dvh;/*Si desea llenar al menos toda la altura del navegador*/
    margin: 0 auto;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
}
/*main h1{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}*/
/*La regla-at CSS @media asocia un grupo de declaraciones anidadas*/
/* @media screen Destinado a principalmente a pantallas de computadora a color.*/
/*@media screen and (min-width: 768px){
    main h1{
        font-size: 40px;
        margin-bottom: 40px;
    }
}*/
.hero{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(106, 108, 104, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   /* backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);*/
    padding: 20px;
    display: grid;
    gap: 20px;
    position: relative;
}
@media screen and (min-width: 768px){
    .hero{
        grid-template-columns: repeat(2, 1fr);
    }
}
textarea{
    width: 100%;
    border: none;
    height: 180px;
    padding: 16px;
    outline: none;
    resize: vertical;
    background-color: #313443;
    color: #E8E8E8;
    border-radius: 16px;
    transition: all .3s;
    font-size: 16px;
}
@media screen and (min-width: 768px){
    textarea{
        height: 300px;
    }
}
textarea::placeholder{
    color: #E8E8E8;
}
textarea:focus{ /* Selecciona cualquier <input> cuando se enfoca */
    border: 1px solid #1A8CE6;
}
.hero__botones{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn{
    display: inline-block;
    background-color: #1A8CE6;
    color: #E8E8E8;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 50px;
    border: 1px solid #1A8CE6;
    transition: all .3s ease;
    cursor: pointer;
}
.btn:hover{ /* cuando el usuario pasa el cursor sobre el elemento produce un cambio*/
    background-color: transparent;
    color: #1A8CE6;
}

.hero p{ /* pie de pagina */
    position: absolute;
    bottom: -30px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
}
.hero p a{ /* pie de pagina */
    color: #1A8CE6;/
}